<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
       
        <div class="grid">
            <article class="card product-item">
                <header class="card_header">
                    <h1 class="product_title">Rich Dad</h1>
                </header>
                <div class="card_image">
                    <img src="public\Screenshot (6).pngcl" alt="great book image" srcset="">
                </div>
                <div class="card_content">
                    <h2 class="product_price">Ksh 2,999</h2>
                    <p class="product_description">A great book to read</p>
                </div>
                <div class="card_actions">
                    <button class="btn">Add to cart</button>
                </div>
            </article>
        </div>
    </main>
</body>

</html>